@import "bootstrap-sprockets";
@import "bootstrap";

body{
font-family: 'Lato', sans-serif;
color: #333333;
}
#side_well {
  height: 80em;
  width:10em;
}

.column-left{
  float: left; width:35%;
}
.column-right{
  float: right; width:15%;
}
.column-center{
   display: inline-block; width:60%;
}
ul#index-tag-list {
  list-style-type: none;
}
